.App {
  background-color: gray;
  /* box-sizing: content-box; */
  min-height: 100vh;
  /* width: ; */
}
/* 

.grid {
  min-height: 100vh;
}
.tab {
  background: inherit;
}

.ui.attached.tabular.menu {
  background-color: gray;
  width: 0%;
}
.ui.secondary.pointing.menu .active.item:hover {
  border-color: green;
  color: whitesmoke;
}
.ui.secondary.pointing.menu .item {
  color: white;
  font-family: cursive;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
}

.ui.placeholder.segment {
  width: 100%;
  background-color: #a8d;
  background: content-box;
}
.ui.placeholder.segment.grid {
  background-color: black;
  border: none;
  padding: 0em 0em;
  box-sizing: border-box;
}

.ui[class*="top attached"].menu {
  margin-right: auto;
}

.ui.grid.segment {
  margin: 0rem 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}
.ui.menu .active.item {
  color: whitesmoke;
}
.ui.secondary.pointing.menu .active.item {
  background-color: transparent !important;
  box-shadow: none !important;
  border-color: white !important;
  font-weight: 700 !important;
  color: white !important;
}

.ui.grid > .black.row {
  color: black !important;
}
*/
.quote {
  background: url(bg.jpeg) no-repeat center center fixed;
  background-size: cover;
}

.ui.secondary.menu {
  margin-right: 0 !important;
}
.quotes {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  font-style: italic;
  color: whitesmoke;
}
